body {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #0cb02b;
}
.main-img {
    width: 100%;
}
.img-container {
    position: relative;
    box-sizing: border-box;
}
.sub-main-img{
    position: absolute;
    z-index: 2;
    bottom: 13%;
    left: 13%;
    width: 37%;
}
.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.main-main-form {
    margin-top: 50px;
    background-color: #8fd300;
}
.main-part {
    width: 100%;
    padding: 30px 60px 30px 30px;
   
}
.main-part-second {
   
    width: 80%;
    padding: 30px;
}
.b-shadow {
    box-shadow: 0px 0px 20px 2px;
}
li {
    color: #fff;
    font-size: 20px;
}
.b-h1 {
    color: #fff;

    margin:0.6rem 0.75rem;
    font-size: 40px;
    font-weight: 700;
}
.main-main-form .b-h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #fff;
}

.form-control, .form-select {
    border-radius: 0;
    padding: 0.6rem 0.75rem;
}

.form-group, .form-select {
    margin-bottom: 20px;
    font-size: 16px;
    
}
select, input {
    border: 2px solid black!important;
}
input::placeholder {
    font-size: 16px;
}
.btn {
    background-color: #000000;
    padding:3px 0 ;
    width: 100%;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    border-radius: 0;
}


.nonheader {
    text-align: center;
    font-weight: 100;
    margin-bottom: 0;
}
.b-h4 {
    color: #616161;
    font-size: 20px;
}


/* скрываем ненужные поля */

.hidden {
    display: none;
}


/* доработки начало */


label {
    text-align: left;
    float: left;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.checkbox {
    width: 100%;
    height: 75px;
    text-align-last: left;
    font-size: 14px;
    color: #fff;

}
.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #ffffff!important;
	padding: 9px;
	border-radius: 0;
	display: inline-block;
	position: relative;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox a {
    text-decoration: underline;
    color: #fff;
}

.form-checkbox:checked {
	border: 1px solid #ffffff!important;
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.05), inset 0px -15px 10px -12px rgba(255, 255, 255, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #ffffff;

}
.form-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;
}


/* доработки конец */



/* модальное окно  */
.b-modal {
    width: 100%;
    height: 100vh;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    opacity: 0;
    z-index: -1;
}
.b-modal_body {
    max-width: 650px;
    background-color: #ffffff;
    padding: 3rem;
    margin: 3rem auto;
    margin-top:3rem;
    box-sizing: border-box;
     overflow-y: auto;
}
.b-modal-close {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    cursor: pointer;
    
}
.b-modal-close::after {
    content: "\2716";
    font-size: 2rem;

}
.modal_header {
    
    font-weight: bold;
    font-size: 32px;
    line-height: 1.17;
    margin-bottom: 1em;
}
.span_header_first {
    font-size:18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: bold;

}
.span_header_second {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;

}
.FadeOut {
    transition: all ease-out 1s;
    opacity: 0;
    z-index: -1;
}
 .FadeIn {
    opacity: 1;
    z-index: 10;
    transition: 0.5s ease-in  all;
  }











/* медиа запросы */
@media screen and (max-width: 992px) {

.container {
    flex-direction: column-reverse;
    margin-top: 0;
}
.main-part {
    width: 100%;
    padding: 30px;
}
.main-part-second {
    width: 100%;
    padding: 30px;
}
.b-h2 {
    font-size: 100%;
}




}


@media screen and (min-width: 438px) and (max-width:992px) {
    .sub-info {
        width: 50%;
        box-sizing: border-box;
    }
    .info {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media screen and (max-width:768px) {

.main-main-form .b-h2 {
    letter-spacing: normal;
    font-size: 24px;

}
.btn {
    font-size: 24px;
    padding: 5px 15px ;
}
.b-h1 {
    line-height: 2.2rem;
    font-size: 28px;
}
.checkbox {
    width: 100%;
    height:50px;
    text-align-last: left;
    font-size: 12px;
}
.b-modal_body {
    max-width: 650px;
    background-color: #ffffff;
    padding: 1rem;
    margin: 3rem auto;
    margin-top:3rem;
    box-sizing: border-box;
     overflow-y: auto;
}
.modal_header {
    font-size:20px;
}
}

